<%- partial('post/title', {item: item, index: false}) %>

<div class="row <% if (post) { %>post<% } else { %>page<% } %>">
	<!-- cols -->
	<% if (post) { %>
	<div id="top_meta"></div>
	<div class="col-md-9">
		<% } else { %>
		<div class="col-md-12">
			<% } %>

			<!-- content -->
			<div class="mypage">
				<% if (item.description) { %>
				<div class="alert alert-success description">
					<i class="fa fa-info-circle"></i> <%- item.description %>
				</div> <!-- alert -->
				<% } %>
				<div class="content-count">
					<!-- date -->
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date-fill"
						fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm.066-2.544c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2zm-2.957-2.89v5.332H5.77v-4.61h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z" />
					</svg>
					<% if (item.date) { %>

					<span class="meta-widget">
						<span>创建日期:</span>
						<%= item.date.format(config.date_format) %>
					</span>
					<% } %>&nbsp;
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-half" fill="currentColor"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							d="M8.5 2.687v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
					</svg>
					<span class="words-num"></span>&emsp;
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-alarm-fill" fill="currentColor"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527zM8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z" />
					</svg>
					<span class="time-box"></span>
				</div>
				<%- item.content %>
			</div>

			<div>
				<center>
					<%- partial('post/pagination', {page: item}) %>
				</center>
			</div>

			<!-- comment -->
			<!-- <%- partial('post/comment', {page: item}) %>
	<% if (theme.valine && theme.valine.appId && theme.valine.appKey){ %>
		<section id="comments" class="comments">
			<style>
			.comments{padding:10px;background:#fff}
			@media screen and (max-width:800px){.comments{margin:auto;padding:10px;background:#000}}
			</style>
			<%- partial('post/valine', {
			key: post.slug,
			title: post.title,
			url: config.url+url_for(post.path)
			}) %>
		</section>
	<% } %> -->
		</div> <!-- col-md-9/col-md-12 -->
		<% if (post) { %>
		<div id="side_meta">
			<%- partial('post/meta', {item: item}) %>
		</div>
		<% } %>
	</div>

	<%- partial('post/comment_footer', {page: item}) %>

	<% if (theme.gitalk.enable){ %>
	<div id="gitalk-container"></div>
	<%- include post/gitalk.ejs %>
	<% } %>

	<script>
		// 获取当前地址，歌单和关于我页面不添加
		let currentUrl = window.location.href;
		let arrUrl = currentUrl.split('/');
		let otherPage = new Set(['about', 'music']);
		if (otherPage.has(arrUrl[arrUrl.length - 2])) {
			let contentCountDom = document.querySelector(".content-count");
			contentCountDom.style.display = 'none';
		}
		// 统计字数
		let content = document.querySelector(".mypage");
		let words = content.innerHTML.length;
		let wordsNumDom = document.querySelector(".words-num");
		wordsNumDom.innerHTML = `文章字数: ${words}`;
		// 计算阅读时长
		let timeBoxDom = document.querySelector(".time-box");
		timeBoxDom.innerHTML = `阅读时长: ${parseInt(words * 0.2 / 60)}分钟`;



	</script>

	<style>
		.content-count {
			line-height: 80px;
			font-size: 14px;
			text-align: right;
			padding-right: 5px;
		}
	</style>